.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #241535;
}

.header h2 {
  margin: 0;
}

.header-logo{
color:white;
}
.header nav {
  display: flex;
  gap: 20px;
}

.header a {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .header {
    padding: 15px;
  }

  .header nav {
    gap: 10px;
  }
}